// common
html, body
	height 100%
	font-family: 'suisse_intlregular';

html 
	box-sizing: border-box;

*, *:before, *:after
	box-sizing: inherit;

body 
	-webkit-font-smoothing: antialiased;
	&.menu-active
		overflow hidden

h1, .h1
	font-size 60px
	letter-spacing -2px
	line-height 1
	margin-bottom 35px
	@media $m
		font-size 50px
	@media $s
		font-size: 26px;
		line-height: 30px;

h2, .h2
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	margin-bottom 40px
	@media $s
		font-size: 26px;
		line-height: 30px;
		margin-bottom 20px

a
	text-decoration none
	outline 0
b
	font-family: 'suisse_intlbold';

p
	margin 0 0 18px

div[class$="__content"]
	max-width 1240px
	margin 0 auto
	padding 0 40px
	@media $l
		padding 0 30px
	@media $s
		padding 0 20px
		max-width 100%

.btn
	height 48px
	display inline-flex
	align-items center
	justify-content center
	border-radius 2px
	border 0
	font-size 16px
	cursor pointer
	outline 0
	transition background 0.3s ease-out
	@media $s
		display flex
		height 44px
		font-size 14px
	&:not(.btn_min)
		padding 0 28px
	&_min
		height 36px
		padding 0 18px
	&_base
		background $pink
		color #fff
		&:hover
			background linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB016E
		&:active
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #EB016E;
	&_dark
		background $dark
		color #fff
		&:hover
			background $pink
		&:active
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), #EB016E;
	&_base-brdr
		border 1px solid $pink
		color $pink
		&:hover
			background $pink
			color #fff
	&_dark-brdr
		border 1px solid #000
		color #000

// header
.header
	background #fff
	@media $s
		display none
	&__line
		display flex
		align-items center
		justify-content space-between
		height 60px
		&:first-child
			border-bottom 1px solid rgba(0,0,0,0.1)
	&__menu
		display flex
		line-height 20px
		&-item
			color #000
			@media $m
				font-size 14px
			&:not(:last-child)
				padding-right 30px
			&_small
				font-size 14px
				opacity 0.5
			&:hover
				color $pink
				opacity 1
	&__contacts
		display flex
		align-items center
		.btn
			margin-left 30px
			@media $m
				display none

// header mobile
.header-mobile
	display none
	justify-content space-between
	height 50px
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	position fixed
	top 0
	width 100%
	z-index 100
	background #fff
	align-items center
	padding 0 20px
	@media $s
		display flex
	&__nav
		display flex
		align-items center

.logo
	font-size: 22px;
	line-height: 26px;
	font-family: 'suisse_intlbold';
	@media $s
		font-size: 20px;
	&__pink
		color $pink

.menu-mobile
	position fixed
	top 50px
	width 100%
	height calc(100% - 50px)
	z-index 99
	transform translateY(-130%)
	transition 0.5s ease transform
	overflow auto
	background #f4f4f4
	&__inner
		padding 0 20px
		background #fff
	&_active
		transform translateY(0)
	&__item
		display flex
		align-items center
		height 50px
		border-bottom 1px solid rgba(0,0,0,0.1)
		color #000
		&:not(.menu-mobile__item_small)
			font-family: 'suisse_intlbold';
		&_small
			opacity 0.4
	&__contacts
		background #f4f4f4
		font-size 14px
		line-height 24px
		overflow hidden
		&-top
		&-bottom
			padding 30px 20px 20px
		&-top
			border-bottom 1px solid rgba(0,0,0,0.1)
			.menu-mobile__contacts-link
				opacity 0.4
				margin-left 20px
		&-bottom
			.menu-mobile__contacts-link
				margin-right 30px
		&-link
			color #000

// hero
.hero
	background #D5EEEB
	padding-top 80px
	position relative
	height 670px
	overflow hidden
	@media $s
		height 490px
	&__content
		position relative
		height 100%
	&__text
		position relative
		z-index 1
		animation: fadeDown 0.6s forwards;
		@media $s
			padding-top 200px
	&__title
		max-width 450px
	&__image
		position absolute
		top 0
		left 0
		right 40px
		bottom 0
		@media $l
			top -10px
			right -75px
		@media $m
			top -20px
			right -150px
		@media $s
			top 0
			left 0
			right 0
			left 0
		&-layer
			position absolute
			right 0
			width 715px
			height 412px
			@media $l
				transform scale(0.95)
			@media $m
				transform scale(0.9)
			@media $s
				transform scale(1)
				width 305px
				height 200px
				background-size: cover!important
				left 0
			opacity 0
			&_1
				background url('../i/hero-1.svg') no-repeat center top
				animation: fadeIn .6s .6s forwards;
			&_2
				background url('../i/hero-2.svg') no-repeat center top
				animation: fadeUp .6s .6s forwards;
			&_3
				background url('../i/hero-3.svg') no-repeat center top
				animation: fadeGrow .6s .8s forwards;
			&_4
				background url('../i/hero-4.svg') no-repeat center top
				animation: fadeGrow .6s 1s forwards;
			&_5
				background url('../i/hero-5.svg') no-repeat center top
				animation: fadeGrow .6s 1.2s forwards;

// solutions
.solutions
	background #f2f2f2
	padding-bottom 60px
	@media $s
		padding-bottom 40px
	&-top
		display flex
		justify-content space-between
		margin-bottom 80px
		@media $s
			flex-direction column
			padding-top 30px
			margin-bottom 40px
	&__item
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		background #fff
		padding 30px
		width 360px
		height 360px
		margin-top -165px
		position relative
		z-index 1
		transition background 0.3s ease-out
		color #000
		@media $s
			margin-top 10px
			width 100%
			height 125px
			padding 15px
		&-icon-wrapper
			height 160px
			display flex
			@media $s
				height auto
				float right
		&-icon
			display block
			margin-bottom 35px
			overflow visible
			
			&_n1
				width 69px
				height 127.3px
				@media $s
					width 48px
					height 88.56px
			&_n2
				width 131px
				height 96.6px
				@media $s
					width 71px
					height 52px
			&_n3
				width 143.8px
				height 114.07px
				@media $s
					width 80px
					height 63.46px
		&-title
			font-size: 20px;
			line-height: 30px;
			margin-bottom 5px
			@media $s
				font-size 18px
				line-height 26px
		&-text
			font-size: 16px;
			line-height: 24px;
			color rgba(0,0,0,0.4)
			@media $s
				font-size: 13px;
				line-height: 20px;
				
		&-arrow
			position absolute
			left 30px
			bottom 30px
			opacity 0.2
			@media $s
				display none
			
	&__item:hover
		background $pink
		color #fff
		.solutions__item-text
			color #fff
		.solutions__item-icon
		.solutions__item-arrow
			filter: brightness(0) invert(1);
			opacity 1
	
.solutions-slider
	text-align center
	margin-bottom 10px
	.slick-list
		margin 0 -10px
		padding 5px 0
	&__item
		display flex
		flex-direction column
		align-items center
		background: #fff;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
		border-radius: 2px;
		margin 0 10px
		padding 50px 20px 0
		height 220px
		transition background 0.3s ease-out
		color #000
		@media $s
			height 150px
			padding-top 30px
		&-icon-wrapper
			display flex
			align-items center
			height 65px
			margin-bottom 20px
			flex 0 0 auto
			@media $s
				margin-bottom 10px
		&-icon
			overflow visible
		&-title
			line-height 24px
			opacity 0.4
			@media $s
				font-size 13px
	&__item:hover
		background $pink
		color #fff
		.solutions-slider__item-title
			opacity 1
		.solutions-slider__item-icon
			filter: brightness(0) invert(1);

// projects
.projects
	background $dark
	padding 90px 0 45px
	color #fff
	overflow hidden
	@media $s
		padding 40px 0 80px
	&__info
		display flex
		justify-content space-between
		@media $s
			flex-direction column
	&__description
		max-width 530px
		padding-right 30px
		@media $s
			margin-bottom 40px
			padding-right 0
		&-item
			display none
			&_active
				display block
		&-title
			font-size: 30px;
			line-height: 40px;
			letter-spacing: -1px;
			margin-bottom 20px
			@media $s
				font-size: 20px;
				line-height: 30px;
				margin-bottom 10px
		&-text
			line-height: 24px;
			opacity 0.5
			@media $s
				font-size: 14px;
				line-height: 20px;


	&__logos
		display flex
		flex 0 0 auto
		max-width 600px
		margin-right -40px
		flex-flow row wrap
		@media $l
			max-width 440px
		@media $m
			max-width 355px
		&-item
			width 160px
			height 100px
			display flex
			align-items center
			justify-content center
			border 1px solid rgba(255,255,255,0.5)
			margin-right 40px
			margin-bottom 40px
			transition background 0.3s ease-out
			cursor pointer
			@media $l
				width 120px
				height 80px
				margin 0 10px 10px 0
			@media $s
				width 80px
				height 50px
		&-img
			opacity 0.4
			@media $s
				max-width 80%
				max-height 80%
		&-item:hover, &-item_active
			background $pink
			border-color $pink
			img
				opacity 1

// press
.press
	padding 80px 0 50px
	@media $s
		padding 40px 0
	&-slider
		margin-bottom 10px
		.slick-list
			margin 0 -20px
		&__item
			display flex
			flex-direction column
			background #F4F4F4
			height 280px
			padding 30px
			margin  0 20px
			transition background 0.3s ease-out
			color #000
			&-logo
				margin-top auto
			&-date
				opacity 0.5
				line-height: 24px
				margin-bottom 10px
			&-title
				line-height 24px
		&__item:hover
			background $pink
			color #fff
			.press-slider__item-date
				opacity 1
			.press-slider__item-img
				filter: brightness(0) invert(1);

// digits
.digits
	background #F4F4F4
	padding 80px 0
	@media $s
		padding 40px 0 0
	&__cols
		display flex
		justify-content space-between
		@media $s
			flex-flow column wrap
	&__item
		max-width 370px
		padding-right 30px
		@media $m
			max-width 280px
		@media $s
			padding-bottom 40px
			margin-bottom 20px
			&:not(:last-child)
				border-bottom 1px solid rgba(0,0,0,0.1)
		&-value
			font-size: 40px;
			line-height: 50px;
			letter-spacing: -2px;
			font-family: 'suisse_intlbold';
			color $pink
			margin-bottom 10px
			@media $s
				font-size: 28px;
				line-height: 40px;
				letter-spacing: -1px;
				margin-bottom 5px
		&-text
			line-height 24px
			@media $s
				font-size: 14px;
				line-height: 20px;

// news
.news
	padding 80px 0
	@media $s
		padding 40px 0
		.slick-list
			margin 0 -20px 10px
	@media screen and (min-width: 960px)
		.slider-nav
			display none
	&-list
		display flex
		justify-content space-between
		margin-bottom 10px
		&__item
			position relative
			height 280px
			border 1px solid rgba(0, 0, 0, 0.1);
			padding 30px
			color #000
			margin 0 20px
			@media $s
				height 250px
			&:not(:first-child)
				width 260px
				padding 20px
				@media $m
					width 25%
			&:first-child
				width 560px
				@media $m
					width 50%
			&-text
				position relative
				z-index 1
			&-line
				position absolute
				bottom -1px
				left -1px
				width calc(100% + 2px)
				height 4px
				background $pink
				transition 0.2s ease height
			&-date
				line-height 24px
				margin-bottom 10px
				opacity 0.4
			&-title
				font-size 18px
				line-height 24px
			&-arrow
				opacity 0.2
				position absolute
				bottom 30px
				left 30px
				z-index 2
			&_with-image
				color #fff
				background-size cover
				.news-list__item-arrow
					filter: brightness(0) invert(1);
				.news-list__item-title
					font-size: 24px;
					line-height: 32px;
					@media $s
						font-size: 16px;
						line-height: 24px;
		&__item:hover
			color #fff
			.news-list__item-date
				opacity 1
			.news-list__item-line
				height calc(100% + 2px)
			.news-list__item-arrow
				opacity 1
				filter: brightness(0) invert(1);

// feedback
.feedback
	background $dark
	padding 80px 0
	color #fff
	@media $s
		padding 40px 0
	h2, .h2
		margin-bottom 20px
	&__text
		opacity 0.4
		line-height 24px
		@media $s
			display none
	&__cols
		display flex
		justify-content space-between
		@media $m
			flex-direction column
	&__intro
		max-width 360px
		@media $l
			max-width 35%
		@media $m
			max-width 100%
	&__form
		max-width 560px
		display flex
		flex-flow row wrap
		justify-content space-between
		@media $l
			max-width 50%
		@media $m
			max-width 100%
		&-input
			font-size 16px
			border 0
			border-bottom 1px solid rgba(255,255,255,0.4)
			background transparent
			padding 15px 0
			margin-bottom 55px
			outline 0
			color #fff
			transition border-color 0.3s ease
			-webkit-appearance: none;
			border-radius 0
			&:focus
				border-color rgba(255,255,255,0.8)
			&:not(.feedback__form-input_full-width)
				width 260px
				@media $l
					width 45%
				@media $m
					width 100%
					margin-bottom 30px
			&_full-width
				width 100%
		&-bottom
			display flex
			justify-content space-between
			@media $s
				flex-direction column-reverse
		&-text
			opacity 0.5
			font-size: 13px;
			line-height: 18px;
			max-widdth 320px
			padding-right 30px
		&-submit
			min-width 216px
			-webkit-appearance: none;
			@media $s
				margin-bottom 20px

// footer
.footer
	background #05151D
	color #fff
	&__top
		display flex
		flex-flow row wrap
		justify-content space-between
		border-bottom 1px solid rgba(255,255,255,0.1)
		padding 40px 0
		min-height 150px
		line-height 24px
		@media $s
			font-size 14px
			line-height: 20px
			flex-direction column
	&__bottom
		display flex
		line-height 20px
		font-size 14px
		padding 20px 0
		@media $s
			flex-direction column
	&__feedback
		width 50%
		display flex
		flex-flow row wrap
		justify-content space-between
		@media $m
			flex-flow column wrap
			width auto
	&__line
		display flex
		padding 38px 0
	&__mail
	&__facebook
		color #fff
	&__copyright
	&__map-link
	&__license
		color rgba(255,255,255,0.4)
	&__copyright
		text-transform uppercase
		margin-right 90px
	&__mail
	&__map-link
	&__license
	&__facebook
		&:hover
			color $pink
	&__map-link
		display block
		@media $s
			display inline
	@media $s
		.footer__map-link
			margin-left 20px
		.logo
			margin-bottom 20px
		.footer__address
		.footer__phone
		.footer__mail
			margin-bottom 10px

