@font-face {
  font-family: 'suisse_intlbold';
  src: url("../fonts/suisseintl-bold-webfont.woff2") format('woff2'), url("../fonts/suisseintl-bold-webfont.woff") format('woff'), url("../fonts/suisseintl-bold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'suisse_intlregular';
  src: url("../fonts/suisseintl-regular-webfont.woff2") format('woff2'), url("../fonts/suisseintl-regular-webfont.woff") format('woff'), url("../fonts/suisseintl-regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: flex;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slider-nav {
  display: flex;
  justify-content: space-between;
  margin-right: -15px;
}
.slider-nav__count {
  display: inline-flex;
  align-items: center;
}
.slider-nav__count-current {
  color: #eb016e;
}
.slider-nav__arrows {
  display: flex;
}
.slider-nav__arrows-prev,
.slider-nav__arrows-next {
  padding: 15px;
  cursor: pointer;
}
.slider-nav__arrows-prev svg,
.slider-nav__arrows-next svg {
  stroke: #000;
}
.slider-nav__arrows-prev:not(.slick-disabled):hover svg,
.slider-nav__arrows-next:not(.slick-disabled):hover svg {
  stroke: #eb016e;
}
.slider-nav__arrows-prev.slick-disabled,
.slider-nav__arrows-next.slick-disabled {
  opacity: 0.3;
  cursor: default;
}
.slider-nav__arrows-next {
  transform: scaleX(-1);
}
.burger-wrapper {
  cursor: pointer;
  margin: auto;
  width: 20px;
  height: 16px;
  margin-left: 20px;
}
.burger-wrapper .hamburger {
  background: #000;
  width: 20px;
  height: 2px;
  position: relative;
  transition: background 10ms 300ms ease;
  transform: translateY(8px);
}
.burger-wrapper .hamburger:before,
.burger-wrapper .hamburger:after {
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  position: absolute;
  background: #000;
  width: 20px;
  height: 2px;
  content: '';
}
.burger-wrapper .hamburger:before {
  top: -6px;
}
.burger-wrapper .hamburger:after {
  top: 6px;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger {
  background: transparent;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:after,
.menu-trigger:checked ~ .burger-wrapper .hamburger:before {
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  top: 0;
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:before {
  transform: rotate(45deg);
}
.menu-trigger:checked ~ .burger-wrapper .hamburger:after {
  transform: rotate(-45deg);
}
.hidden {
  display: none;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-moz-keyframes fadeGrow {
  from {
    opacity: 0;
    background-size: 80%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}
@-webkit-keyframes fadeGrow {
  from {
    opacity: 0;
    background-size: 80%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}
@-o-keyframes fadeGrow {
  from {
    opacity: 0;
    background-size: 80%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}
@keyframes fadeGrow {
  from {
    opacity: 0;
    background-size: 80%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}
