html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main,
summary {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-family: 'suisse_intlregular';
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  -webkit-font-smoothing: antialiased;
}
body.menu-active {
  overflow: hidden;
}
h1,
.h1 {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 35px;
}
@media screen and (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 26px;
    line-height: 30px;
  }
}
h2,
.h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  h2,
  .h2 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
a {
  text-decoration: none;
  outline: 0;
}
b {
  font-family: 'suisse_intlbold';
}
p {
  margin: 0 0 18px;
}
div[class$="__content"] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1260px) {
  div[class$="__content"] {
    padding: 0 30px;
  }
}
@media screen and (max-width: 767px) {
  div[class$="__content"] {
    padding: 0 20px;
    max-width: 100%;
  }
}
.btn {
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  transition: background 0.3s ease-out;
}
@media screen and (max-width: 767px) {
  .btn {
    display: flex;
    height: 44px;
    font-size: 14px;
  }
}
.btn:not(.btn_min) {
  padding: 0 28px;
}
.btn_min {
  height: 36px;
  padding: 0 18px;
}
.btn_base {
  background: #eb016e;
  color: #fff;
}
.btn_base:hover {
  background: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), #eb016e;
}
.btn_base:active {
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), #eb016e;
}
.btn_dark {
  background: #202e35;
  color: #fff;
}
.btn_dark:hover {
  background: #eb016e;
}
.btn_dark:active {
  background: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), #eb016e;
}
.btn_base-brdr {
  border: 1px solid #eb016e;
  color: #eb016e;
}
.btn_base-brdr:hover {
  background: #eb016e;
  color: #fff;
}
.btn_dark-brdr {
  border: 1px solid #000;
  color: #000;
}
.header {
  background: #fff;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
.header__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.header__line:first-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.header__menu {
  display: flex;
  line-height: 20px;
}
.header__menu-item {
  color: #000;
}
@media screen and (max-width: 1024px) {
  .header__menu-item {
    font-size: 14px;
  }
}
.header__menu-item:not(:last-child) {
  padding-right: 30px;
}
.header__menu-item_small {
  font-size: 14px;
  opacity: 0.5;
}
.header__menu-item:hover {
  color: #eb016e;
  opacity: 1;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts .btn {
  margin-left: 30px;
}
@media screen and (max-width: 1024px) {
  .header__contacts .btn {
    display: none;
  }
}
.header-mobile {
  display: none;
  justify-content: space-between;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  align-items: center;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .header-mobile {
    display: flex;
  }
}
.header-mobile__nav {
  display: flex;
  align-items: center;
}
.logo {
  font-size: 22px;
  line-height: 26px;
  font-family: 'suisse_intlbold';
}
@media screen and (max-width: 767px) {
  .logo {
    font-size: 20px;
  }
}
.logo__pink {
  color: #eb016e;
}
.menu-mobile {
  position: fixed;
  top: 50px;
  width: 100%;
  height: calc(100% - 50px);
  z-index: 99;
  transform: translateY(-130%);
  transition: 0.5s ease transform;
  overflow: auto;
  background: #f4f4f4;
}
.menu-mobile__inner {
  padding: 0 20px;
  background: #fff;
}
.menu-mobile_active {
  transform: translateY(0);
}
.menu-mobile__item {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: #000;
}
.menu-mobile__item:not(.menu-mobile__item_small) {
  font-family: 'suisse_intlbold';
}
.menu-mobile__item_small {
  opacity: 0.4;
}
.menu-mobile__contacts {
  background: #f4f4f4;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
}
.menu-mobile__contacts-top,
.menu-mobile__contacts-bottom {
  padding: 30px 20px 20px;
}
.menu-mobile__contacts-top {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.menu-mobile__contacts-top .menu-mobile__contacts-link {
  opacity: 0.4;
  margin-left: 20px;
}
.menu-mobile__contacts-bottom .menu-mobile__contacts-link {
  margin-right: 30px;
}
.menu-mobile__contacts-link {
  color: #000;
}
.hero {
  background: #d5eeeb;
  padding-top: 80px;
  position: relative;
  height: 670px;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .hero {
    height: 490px;
  }
}
.hero__content {
  position: relative;
  height: 100%;
}
.hero__text {
  position: relative;
  z-index: 1;
  animation: fadeDown 0.6s forwards;
}
@media screen and (max-width: 767px) {
  .hero__text {
    padding-top: 200px;
  }
}
.hero__title {
  max-width: 450px;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  bottom: 0;
}
@media screen and (max-width: 1260px) {
  .hero__image {
    top: -10px;
    right: -75px;
  }
}
@media screen and (max-width: 1024px) {
  .hero__image {
    top: -20px;
    right: -150px;
  }
}
@media screen and (max-width: 767px) {
  .hero__image {
    top: 0;
    left: 0;
    right: 0;
    left: 0;
  }
}
.hero__image-layer {
  position: absolute;
  right: 0;
  width: 715px;
  height: 412px;
  opacity: 0;
}
@media screen and (max-width: 1260px) {
  .hero__image-layer {
    transform: scale(0.95);
  }
}
@media screen and (max-width: 1024px) {
  .hero__image-layer {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 767px) {
  .hero__image-layer {
    transform: scale(1);
    width: 305px;
    height: 200px;
    background-size: cover !important;
    left: 0;
  }
}
.hero__image-layer_1 {
  background: url("../i/hero-1.svg") no-repeat center top;
  animation: fadeIn 0.6s 0.6s forwards;
}
.hero__image-layer_2 {
  background: url("../i/hero-2.svg") no-repeat center top;
  animation: fadeUp 0.6s 0.6s forwards;
}
.hero__image-layer_3 {
  background: url("../i/hero-3.svg") no-repeat center top;
  animation: fadeGrow 0.6s 0.8s forwards;
}
.hero__image-layer_4 {
  background: url("../i/hero-4.svg") no-repeat center top;
  animation: fadeGrow 0.6s 1s forwards;
}
.hero__image-layer_5 {
  background: url("../i/hero-5.svg") no-repeat center top;
  animation: fadeGrow 0.6s 1.2s forwards;
}
.solutions {
  background: #f2f2f2;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .solutions {
    padding-bottom: 40px;
  }
}
.solutions-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .solutions-top {
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 40px;
  }
}
.solutions__item {
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  background: #fff;
  padding: 30px;
  width: 360px;
  height: 360px;
  margin-top: -165px;
  position: relative;
  z-index: 1;
  transition: background 0.3s ease-out;
  color: #000;
}
@media screen and (max-width: 767px) {
  .solutions__item {
    margin-top: 10px;
    width: 100%;
    height: 125px;
    padding: 15px;
  }
}
.solutions__item-icon-wrapper {
  height: 160px;
  display: flex;
}
@media screen and (max-width: 767px) {
  .solutions__item-icon-wrapper {
    height: auto;
    float: right;
  }
}
.solutions__item-icon {
  display: block;
  margin-bottom: 35px;
  overflow: visible;
}
.solutions__item-icon_n1 {
  width: 69px;
  height: 127.3px;
}
@media screen and (max-width: 767px) {
  .solutions__item-icon_n1 {
    width: 48px;
    height: 88.56px;
  }
}
.solutions__item-icon_n2 {
  width: 131px;
  height: 96.6px;
}
@media screen and (max-width: 767px) {
  .solutions__item-icon_n2 {
    width: 71px;
    height: 52px;
  }
}
.solutions__item-icon_n3 {
  width: 143.8px;
  height: 114.07px;
}
@media screen and (max-width: 767px) {
  .solutions__item-icon_n3 {
    width: 80px;
    height: 63.46px;
  }
}
.solutions__item-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .solutions__item-title {
    font-size: 18px;
    line-height: 26px;
  }
}
.solutions__item-text {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0,0,0,0.4);
}
@media screen and (max-width: 767px) {
  .solutions__item-text {
    font-size: 13px;
    line-height: 20px;
  }
}
.solutions__item-arrow {
  position: absolute;
  left: 30px;
  bottom: 30px;
  opacity: 0.2;
}
@media screen and (max-width: 767px) {
  .solutions__item-arrow {
    display: none;
  }
}
.solutions__item:hover {
  background: #eb016e;
  color: #fff;
}
.solutions__item:hover .solutions__item-text {
  color: #fff;
}
.solutions__item:hover .solutions__item-icon,
.solutions__item:hover .solutions__item-arrow {
  filter: brightness(0) invert(1);
  opacity: 1;
}
.solutions-slider {
  text-align: center;
  margin-bottom: 10px;
}
.solutions-slider .slick-list {
  margin: 0 -10px;
  padding: 5px 0;
}
.solutions-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
  border-radius: 2px;
  margin: 0 10px;
  padding: 50px 20px 0;
  height: 220px;
  transition: background 0.3s ease-out;
  color: #000;
}
@media screen and (max-width: 767px) {
  .solutions-slider__item {
    height: 150px;
    padding-top: 30px;
  }
}
.solutions-slider__item-icon-wrapper {
  display: flex;
  align-items: center;
  height: 65px;
  margin-bottom: 20px;
  flex: 0 0 auto;
}
@media screen and (max-width: 767px) {
  .solutions-slider__item-icon-wrapper {
    margin-bottom: 10px;
  }
}
.solutions-slider__item-icon {
  overflow: visible;
}
.solutions-slider__item-title {
  line-height: 24px;
  opacity: 0.4;
}
@media screen and (max-width: 767px) {
  .solutions-slider__item-title {
    font-size: 13px;
  }
}
.solutions-slider__item:hover {
  background: #eb016e;
  color: #fff;
}
.solutions-slider__item:hover .solutions-slider__item-title {
  opacity: 1;
}
.solutions-slider__item:hover .solutions-slider__item-icon {
  filter: brightness(0) invert(1);
}
.projects {
  background: #202e35;
  padding: 90px 0 45px;
  color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .projects {
    padding: 40px 0 80px;
  }
}
.projects__info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .projects__info {
    flex-direction: column;
  }
}
.projects__description {
  max-width: 530px;
  padding-right: 30px;
}
@media screen and (max-width: 767px) {
  .projects__description {
    margin-bottom: 40px;
    padding-right: 0;
  }
}
.projects__description-item {
  display: none;
}
.projects__description-item_active {
  display: block;
}
.projects__description-title {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .projects__description-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.projects__description-text {
  line-height: 24px;
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  .projects__description-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.projects__logos {
  display: flex;
  flex: 0 0 auto;
  max-width: 600px;
  margin-right: -40px;
  flex-flow: row wrap;
}
@media screen and (max-width: 1260px) {
  .projects__logos {
    max-width: 440px;
  }
}
@media screen and (max-width: 1024px) {
  .projects__logos {
    max-width: 355px;
  }
}
.projects__logos-item {
  width: 160px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255,255,255,0.5);
  margin-right: 40px;
  margin-bottom: 40px;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
@media screen and (max-width: 1260px) {
  .projects__logos-item {
    width: 120px;
    height: 80px;
    margin: 0 10px 10px 0;
  }
}
@media screen and (max-width: 767px) {
  .projects__logos-item {
    width: 80px;
    height: 50px;
  }
}
.projects__logos-img {
  opacity: 0.4;
}
@media screen and (max-width: 767px) {
  .projects__logos-img {
    max-width: 80%;
    max-height: 80%;
  }
}
.projects__logos-item:hover,
.projects__logos-item_active {
  background: #eb016e;
  border-color: #eb016e;
}
.projects__logos-item:hover img,
.projects__logos-item_active img {
  opacity: 1;
}
.press {
  padding: 80px 0 50px;
}
@media screen and (max-width: 767px) {
  .press {
    padding: 40px 0;
  }
}
.press-slider {
  margin-bottom: 10px;
}
.press-slider .slick-list {
  margin: 0 -20px;
}
.press-slider__item {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  height: 280px;
  padding: 30px;
  margin: 0 20px;
  transition: background 0.3s ease-out;
  color: #000;
}
.press-slider__item-logo {
  margin-top: auto;
}
.press-slider__item-date {
  opacity: 0.5;
  line-height: 24px;
  margin-bottom: 10px;
}
.press-slider__item-title {
  line-height: 24px;
}
.press-slider__item:hover {
  background: #eb016e;
  color: #fff;
}
.press-slider__item:hover .press-slider__item-date {
  opacity: 1;
}
.press-slider__item:hover .press-slider__item-img {
  filter: brightness(0) invert(1);
}
.digits {
  background: #f4f4f4;
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .digits {
    padding: 40px 0 0;
  }
}
.digits__cols {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .digits__cols {
    flex-flow: column wrap;
  }
}
.digits__item {
  max-width: 370px;
  padding-right: 30px;
}
@media screen and (max-width: 1024px) {
  .digits__item {
    max-width: 280px;
  }
}
@media screen and (max-width: 767px) {
  .digits__item {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
  .digits__item:not(:last-child) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
.digits__item-value {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -2px;
  font-family: 'suisse_intlbold';
  color: #eb016e;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .digits__item-value {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }
}
.digits__item-text {
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .digits__item-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.news {
  padding: 80px 0;
}
@media screen and (max-width: 767px) {
  .news {
    padding: 40px 0;
  }
  .news .slick-list {
    margin: 0 -20px 10px;
  }
}
@media screen and (min-width: 960px) {
  .news .slider-nav {
    display: none;
  }
}
.news-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.news-list__item {
  position: relative;
  height: 280px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 30px;
  color: #000;
  margin: 0 20px;
}
@media screen and (max-width: 767px) {
  .news-list__item {
    height: 250px;
  }
}
.news-list__item:not(:first-child) {
  width: 260px;
  padding: 20px;
}
@media screen and (max-width: 1024px) {
  .news-list__item:not(:first-child) {
    width: 25%;
  }
}
.news-list__item:first-child {
  width: 560px;
}
@media screen and (max-width: 1024px) {
  .news-list__item:first-child {
    width: 50%;
  }
}
.news-list__item-text {
  position: relative;
  z-index: 1;
}
.news-list__item-line {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: 4px;
  background: #eb016e;
  transition: 0.2s ease height;
}
.news-list__item-date {
  line-height: 24px;
  margin-bottom: 10px;
  opacity: 0.4;
}
.news-list__item-title {
  font-size: 18px;
  line-height: 24px;
}
.news-list__item-arrow {
  opacity: 0.2;
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
}
.news-list__item_with-image {
  color: #fff;
  background-size: cover;
}
.news-list__item_with-image .news-list__item-arrow {
  filter: brightness(0) invert(1);
}
.news-list__item_with-image .news-list__item-title {
  font-size: 24px;
  line-height: 32px;
}
@media screen and (max-width: 767px) {
  .news-list__item_with-image .news-list__item-title {
    font-size: 16px;
    line-height: 24px;
  }
}
.news-list__item:hover {
  color: #fff;
}
.news-list__item:hover .news-list__item-date {
  opacity: 1;
}
.news-list__item:hover .news-list__item-line {
  height: calc(100% + 2px);
}
.news-list__item:hover .news-list__item-arrow {
  opacity: 1;
  filter: brightness(0) invert(1);
}
.feedback {
  background: #202e35;
  padding: 80px 0;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .feedback {
    padding: 40px 0;
  }
}
.feedback h2,
.feedback .h2 {
  margin-bottom: 20px;
}
.feedback__text {
  opacity: 0.4;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .feedback__text {
    display: none;
  }
}
.feedback__cols {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .feedback__cols {
    flex-direction: column;
  }
}
.feedback__intro {
  max-width: 360px;
}
@media screen and (max-width: 1260px) {
  .feedback__intro {
    max-width: 35%;
  }
}
@media screen and (max-width: 1024px) {
  .feedback__intro {
    max-width: 100%;
  }
}
.feedback__form {
  max-width: 560px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1260px) {
  .feedback__form {
    max-width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .feedback__form {
    max-width: 100%;
  }
}
.feedback__form-input {
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  background: transparent;
  padding: 15px 0;
  margin-bottom: 55px;
  outline: 0;
  color: #fff;
  transition: border-color 0.3s ease;
  -webkit-appearance: none;
  border-radius: 0;
}
.feedback__form-input:focus {
  border-color: rgba(255,255,255,0.8);
}
.feedback__form-input:not(.feedback__form-input_full-width) {
  width: 260px;
}
@media screen and (max-width: 1260px) {
  .feedback__form-input:not(.feedback__form-input_full-width) {
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .feedback__form-input:not(.feedback__form-input_full-width) {
    width: 100%;
    margin-bottom: 30px;
  }
}
.feedback__form-input_full-width {
  width: 100%;
}
.feedback__form-bottom {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .feedback__form-bottom {
    flex-direction: column-reverse;
  }
}
.feedback__form-text {
  opacity: 0.5;
  font-size: 13px;
  line-height: 18px;
  max-widdth: 320px;
  padding-right: 30px;
}
.feedback__form-submit {
  min-width: 216px;
  -webkit-appearance: none;
}
@media screen and (max-width: 767px) {
  .feedback__form-submit {
    margin-bottom: 20px;
  }
}
.footer {
  background: #05151d;
  color: #fff;
}
.footer__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 40px 0;
  min-height: 150px;
  line-height: 24px;
}
@media screen and (max-width: 767px) {
  .footer__top {
    font-size: 14px;
    line-height: 20px;
    flex-direction: column;
  }
}
.footer__bottom {
  display: flex;
  line-height: 20px;
  font-size: 14px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__feedback {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer__feedback {
    flex-flow: column wrap;
    width: auto;
  }
}
.footer__line {
  display: flex;
  padding: 38px 0;
}
.footer__mail,
.footer__facebook {
  color: #fff;
}
.footer__copyright,
.footer__map-link,
.footer__license {
  color: rgba(255,255,255,0.4);
}
.footer__copyright {
  text-transform: uppercase;
  margin-right: 90px;
}
.footer__mail:hover,
.footer__map-link:hover,
.footer__license:hover,
.footer__facebook:hover {
  color: #eb016e;
}
.footer__map-link {
  display: block;
}
@media screen and (max-width: 767px) {
  .footer__map-link {
    display: inline;
  }
}
@media screen and (max-width: 767px) {
  .footer .footer__map-link {
    margin-left: 20px;
  }
  .footer .logo {
    margin-bottom: 20px;
  }
  .footer .footer__address,
  .footer .footer__phone,
  .footer .footer__mail {
    margin-bottom: 10px;
  }
}
