@import "components/variables"

// fonts 

@font-face {
    font-family: 'suisse_intlbold';
    src: url('../fonts/suisseintl-bold-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-bold-webfont.woff') format('woff'),
         url('../fonts/suisseintl-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'suisse_intlregular';
    src: url('../fonts/suisseintl-regular-webfont.woff2') format('woff2'),
         url('../fonts/suisseintl-regular-webfont.woff') format('woff'),
         url('../fonts/suisseintl-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
}


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: 0;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: flex;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slider-nav
    display flex
    justify-content space-between
    margin-right -15px
    &__count
        display inline-flex
        align-items center
        &-current
            color $pink
    &__arrows
        display flex
    &__arrows-prev
    &__arrows-next
        padding 15px
        cursor pointer
        svg
            stroke #000
        &:not(.slick-disabled):hover svg 
            stroke $pink
        &.slick-disabled
            opacity 0.3
            cursor default
    &__arrows-next
        transform scaleX(-1)

// animation

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeGrow {
  from {
    opacity: 0;
    background-size: 80%;
  }
  to {
    opacity: 1;
    background-size: 100%;
  }
}


// other

$hamburgerSize = 2px;
.burger-wrapper {
  cursor: pointer;
  margin: auto;
  width: $hamburgerSize*10;
  height: $hamburgerSize*8;
  margin-left: 20px;
  
  .hamburger {
    background: black;
    width: $hamburgerSize*10;
    height: $hamburgerSize;
    position: relative;
    transition: background 10ms 300ms ease;
    transform: translateY($hamburgerSize*4);
    
    &:before, &:after {
      transition: top 300ms 350ms ease,
        transform 300ms 50ms ease;
      position: absolute;
      background: black;
      width: $hamburgerSize*10;
      height: $hamburgerSize;
      content: '';
    }
    &:before {
      top: $hamburgerSize*-3;
    }

    &:after {
      top: $hamburgerSize*3;
    }
  }
}

.menu-trigger:checked {
  ~ .burger-wrapper {
    .hamburger {
      background: transparent;
      &:after, &:before {
        transition: top 300ms 50ms ease,
        transform 300ms 350ms ease;
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

.hidden {
  display: none;
}