extends layouts/default

block content
  // section hero
  section.hero
    .hero__content
      .hero__text
        .hero__title
          h1 Беспроводные решения 
            b с пожизненной гарантией
        a.btn.btn_dark(href="#") Оставить заявку
      .hero__image
        .hero__image-layer.hero__image-layer_1
        .hero__image-layer.hero__image-layer_3
        .hero__image-layer.hero__image-layer_4
        .hero__image-layer.hero__image-layer_5
        .hero__image-layer.hero__image-layer_2
  /// section hero
  // section solutions
  section.solutions
    .solutions__content
      .solutions-top
        a.solutions__item(href="#")
          .solutions__item-icon-wrapper
            svg.solutions__item-icon.solutions__item-icon_n1
              use.use-icon(xlink:href="#access-points")
          .solutions__item-title Точки доступа
          .solutions__item-text Беспроводные решения для улиц и помещений
          svg.solutions__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
        a.solutions__item(href="#")
          .solutions__item-icon-wrapper
            svg.solutions__item-icon.solutions__item-icon_n2
              use(xlink:href="#controllers")
          .solutions__item-title Контроллеры и коммутаторы
          .solutions__item-text Оборудование и ПО технологии
          svg.solutions__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
        a.solutions__item(href="#")
          .solutions__item-icon-wrapper
            svg.solutions__item-icon.solutions__item-icon_n3
              use(xlink:href="#antenntas")
          .solutions__item-title Антенны
          .solutions__item-text Оборудование и ПО технологии
          svg.solutions__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
      h2 Отраслевые решения
      .solutions-slider
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="46.5" height="46.5")
              use.use-icon(xlink:href="#medicine")
          .solutions-slider__item-title Медицина
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="60" height="46")
              use.use-icon(xlink:href="#education")
          .solutions-slider__item-title Образование
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="50" height="47")
              use.use-icon(xlink:href="#events")
          .solutions-slider__item-title Мероприятия
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="48" height="48")
              use.use-icon(xlink:href="#parks")
          .solutions-slider__item-title Стадионы и парки
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="44" height="55")
              use.use-icon(xlink:href="#business-centers")
          .solutions-slider__item-title Бизнес центры
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="55" height="39")
              use.use-icon(xlink:href="#restaurants")
          .solutions-slider__item-title Рестораны и кафе
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="46.5" height="46.5")
              use.use-icon(xlink:href="#medicine")
          .solutions-slider__item-title Медицина-2
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="60" height="46")
              use.use-icon(xlink:href="#education")
          .solutions-slider__item-title Образование-2
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="50" height="47")
              use.use-icon(xlink:href="#events")
          .solutions-slider__item-title Мероприятия-2
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="48" height="48")
              use.use-icon(xlink:href="#parks")
          .solutions-slider__item-title Стадионы и парки-2
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="44" height="55")
              use.use-icon(xlink:href="#business-centers")
          .solutions-slider__item-title Бизнес центры-2
        a.solutions-slider__item(href="#")
          .solutions-slider__item-icon-wrapper
            svg.solutions-slider__item-icon(width="55" height="39")
              use.use-icon(xlink:href="#restaurants")
          .solutions-slider__item-title Рестораны и кафе-2
      .slider-nav
        .slider-nav__count
          span.slider-nav__count-current 6 
          |  /  
          span.slider-nav__count-total 12
        .slider-nav__arrows
          .slider-nav__arrows-prev
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
          .slider-nav__arrows-next
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
  /// section solutions
  // section projects
  section.projects
    .projects__content
      h2 Наши ключевые проекты
      .projects__info
        .projects__description
          .projects__description-item.projects__description-item_active
            .projects__description-title Heiniken
            .projects__description-text
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
              p Поставка оборудования и разработка портала идентификации пользователей.
          .projects__description-item
            .projects__description-title Leroy Merlin
            .projects__description-text
              p Поставка оборудования и разработка портала идентификации пользователей.
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
          .projects__description-item
            .projects__description-title ПЭК
            .projects__description-text
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
              p Поставка оборудования и разработка портала идентификации пользователей.
          .projects__description-item
            .projects__description-title Correas
            .projects__description-text
              p Поставка оборудования и разработка портала идентификации пользователей.
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
          .projects__description-item
            .projects__description-title Янедкс Такси
            .projects__description-text
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
              p Поставка оборудования и разработка портала идентификации пользователей.
          .projects__description-item
            .projects__description-title Миц
            .projects__description-text
              p Поставка оборудования и разработка портала идентификации пользователей.
              p Организация Wi-Fi инфраструктуры к Международному экономическому форуму, поставка оборудования и разработка портала идентификации пользователей.
        .projects__logos
          .projects__logos-item.projects__logos-item_active
            img.projects__logos-img(src="f/i/logo-1.svg")
          .projects__logos-item
            img.projects__logos-img(src="f/i/logo-2.svg")
          .projects__logos-item
            img.projects__logos-img(src="f/i/logo-3.svg")
          .projects__logos-item
            img.projects__logos-img(src="f/i/logo-4.svg")
          .projects__logos-item
            img.projects__logos-img(src="f/i/logo-5.svg")
          .projects__logos-item
            img.projects__logos-img(src="f/i/logo-6.svg")
  /// section projects
  // section press
  section.press
    .press__content
      h2 Пресса о нас
      .press-slider
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 05 / 2018
          .press-slider__item-title outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-7.svg")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 04 / 2018
          .press-slider__item-title outSource/wi-fi стал Золотым партнёром американской компании 
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-8.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 03/ 2018
          .press-slider__item-title outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-9.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 02 / 2018
          .press-slider__item-title outSource/wi-fi стал Золотым партнёром американской компании 
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-10.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 01 / 2018
          .press-slider__item-title outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-7.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 05 / 2017
          .press-slider__item-title outSource/wi-fi стал Золотым партнёром американской компании 
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-8.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 05 / 2016
          .press-slider__item-title outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-9.png")
        a.press-slider__item(href="#")
          .press-slider__item-date 03 / 05 / 2015
          .press-slider__item-title outSource/wi-fi стал Золотым партнёром американской компании 
          .press-slider__item-logo
            img.press-slider__item-img(src="f/i/logo-7.png")
      .slider-nav
        .slider-nav__count
          span.slider-nav__count-current 12
          |  /  
          span.slider-nav__count-total 8
        .slider-nav__arrows
          .slider-nav__arrows-prev
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
          .slider-nav__arrows-next
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
  /// section press
  // section digits
  section.digits
    .digits__content
      h2 outSource/wi-fi — это
      .digits__cols
        .digits__item
          .digits__item-value 0,01% 
          .digits__item-text Вероятность выхода из строя оборудования в течение 10 лет
        .digits__item
          .digits__item-value 100% 
          .digits__item-text Сервисные контракты со 100% покрытием негарантийных случаев
        .digits__item
          .digits__item-value 900 
          .digits__item-text Успешно реализованных проектов, ключевое достоинство outSource/wi-fi
  /// section digits
  // section news
  section.news
    .news__content
      h2 Новости
      .news-list
        a.news-list__item.news-list__item_with-image(style="background-image:url('f/i/news-1-bg.jpg')" href="#")
          .news-list__item-text
            .news-list__item-date 29 / 11 / 2018
            .news-list__item-title outSource/wi-fi построил Wi-Fi сеть «Росатому» и ИЗТТ
          svg.news-list__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
          .news-list__item-line
        a.news-list__item(href="#")
          .news-list__item-text
            .news-list__item-date 29 / 10 / 2018
            .news-list__item-title Бесплатным Wi-Fi можно будет воспользоваться за пределами садового кольца
          svg.news-list__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
          .news-list__item-line
        a.news-list__item(href="#")
          .news-list__item-text
            .news-list__item-date 29 / 09 / 2018
            .news-list__item-title В Москве в чаще используют Wi-Fi, чем в Нью-Йорке
          svg.news-list__item-arrow(width="16" height="16")
            use(xlink:href="#arrow")
          .news-list__item-line
      .slider-nav
        .slider-nav__count
          span.slider-nav__count-current 1
          |  /  
          span.slider-nav__count-total 3
        .slider-nav__arrows
          .slider-nav__arrows-prev
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
          .slider-nav__arrows-next
            svg(width="7" height="14")
              use.use-icon(xlink:href="#slider-nav")
  /// section news
  // section feedback
  section.feedback
    .feedback__content
      .feedback__cols
        .feedback__intro
          h2 Ответим<br>на ваши вопросы
          .feedback__text
            p Каждый день мы меняем мир<br>к лучшему, присоединяйтесь
        form.feedback__form
          input.feedback__form-input(type="text", placeholder="Имя")
          input.feedback__form-input(type="text", placeholder="Телефон")
          input.feedback__form-input.feedback__form-input_full-width(type="text", placeholder="Сообщение")
          .feedback__form-bottom
            .feedback__form-text Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности
            input.btn.btn_base.feedback__form-submit(type="submit" value="Отправить")



