// footer
.footer
  .footer__content
    .footer__top
      .logo outSource
        span.logo__pink /wi-fi
      .footer__address
          | Москва, Волоколамское<br>шоссе 10, офис 22
          a.footer__map-link(href="#") Смотреть на карте
      .footer__feedback
        .footer__phone +7 (487) 734-01-23
        a.footer__mail(href="mailto:wi-fi@outsource.ru") wi-fi@outsource.ru
        a.footer__facebook(href="#") facebook
    .footer__bottom
      .footer__copyright © 2018 outSource/wi-fi
      a.footer__license(href="#") Пользовательское соглашение
/// footer