head
	meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
	meta(http-equiv="x-ua-compatible", content="ie=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(content="", name="Description")
	meta(content="", name="Keywords")
	meta(content="yes", name="apple-mobile-web-app-capable")
	meta(name="HandheldFriendly", content="true")
	link(rel='apple-touch-icon', sizes='180x180', href='https://pinkman.ru/apple-touch-icon.png')
	link(rel='icon', type='image/png', sizes='32x32', href='https://pinkman.ru/favicon-32x32.png')
	link(rel='icon', type='image/png', sizes='16x16', href='https://pinkman.ru/favicon-16x16.png')


	title outSource/wi-fi

	link(href="f/css/libs.css", rel="stylesheet", type="text/css")
	link(href="f/css/main.css", rel="stylesheet", type="text/css")
