// header
.header
  .header__content
    .header__line
      .logo outSource
        span.logo__pink /wi-fi
      .header__menu.header__menu_small
        a.header__menu-item.header__menu-item_small(href="#") О компании
        a.header__menu-item.header__menu-item_small(href="#") Проекты
        a.header__menu-item.header__menu-item_small(href="#") Новости
        a.header__menu-item.header__menu-item_small(href="#") Контакты
    .header__line
      .header__menu
        a.header__menu-item(href="#") Продукты
        a.header__menu-item(href="#") Услуги
        a.header__menu-item(href="#") Отраслевые решения
        a.header__menu-item(href="#") Программное обеспечение
      .header__contacts +7 (495) 748-01-15
        a(href="#").btn.btn_base-brdr.btn_min Оставить заявку
/// header
// header mobile
.header-mobile
  .logo outSource
    span.logo__pink /wi-fi
  .header-mobile__nav
    a(href="tel:+74957480115")
      svg(width="14" height="14")
        use.use-icon(xlink:href="#phone")
    input#togglenav.menu-trigger.hidden(type='checkbox')
    label.burger-wrapper(for="togglenav")
      .hamburger
.menu-mobile
  .menu-mobile__inner
    a.menu-mobile__item(href="#") Продукты
    a.menu-mobile__item(href="#") Услуги
    a.menu-mobile__item(href="#") Отраслевые решения
    a.menu-mobile__item(href="#") Программное обеспечение
    a.menu-mobile__item.menu-mobile__item_small(href="#") О компании
    a.menu-mobile__item.menu-mobile__item_small(href="#") Проекты
    a.menu-mobile__item.menu-mobile__item_small(href="#") Новости
    a.menu-mobile__item.menu-mobile__item_small(href="#") Контакты
  .menu-mobile__contacts
    .menu-mobile__contacts-top
      span Москва, Волоколамское шоссе 10, офис 22
        a.menu-mobile__contacts-link(href="#") Смотреть на карте
    .menu-mobile__contacts-bottom
      a.menu-mobile__contacts-link(href="#") +7 (487) 734‑01‑23
      a.menu-mobile__contacts-link(href="#") wi‑fi@outsource.ru
      <br>
      a.menu-mobile__contacts-link(href="#") facebook
/// header mobile