<svg style="position: absolute; width: 0; height: 0;" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="visible">
	<defs>
		<symbol id="arrow" width="16" height="16" viewBox="0 0 16 16" fill="none">
			<path d="M7 1L14 8L7 15" stroke-width="2" stroke="#000" />
			<path d="M0 8H14" stroke-width="2" stroke="#000" />
		</symbol>
		<symbol id="access-points" width="71" height="130" viewBox="0 0 71 130" fill="none">
			<path d="M31.6239 14.7392C26.4498 17.6759 21.4155 22.7101 17.5 29.003L19.3179 30.4014C22.8139 24.9476 27.149 20.6125 31.4841 17.9555C35.959 15.2986 40.4339 14.7392 43.7901 16.2775L45.8877 12.7814C41.8323 10.9635 36.798 11.6627 31.6239 14.7392Z" fill="#EB016E"/>
			<path d="M31.624 24.5283C28.2678 26.4861 24.9117 29.8423 22.3945 33.8976L24.3523 35.296C26.4499 31.9399 29.1069 29.2829 31.7639 27.7446C34.4208 26.2064 37.2176 25.7869 39.3153 26.7658L41.273 23.1299C38.3364 22.151 35.12 22.5705 31.624 24.5283Z" fill="#EB016E"/>
			<path d="M31.6239 34.1773C29.806 35.1562 28.1279 36.9741 26.7295 39.2116L28.6873 40.61C29.5263 39.2116 30.645 38.0928 31.7638 37.5335C32.8825 36.8343 34.0012 36.6944 34.8403 37.1139L36.798 33.4781C35.2598 32.9187 33.4418 33.1984 31.6239 34.1773Z" fill="#EB016E"/>
			<path d="M68.6814 2.01367L69.94 49.0002C69.94 49.4197 69.6603 49.8392 69.101 50.1189C67.9822 50.8181 66.1643 50.8181 65.0456 50.1189C64.4862 49.8392 64.2065 49.4197 64.2065 49.0002L65.1854 2.01367C65.1854 2.29335 65.3253 2.57303 65.7448 2.71288C66.444 3.1324 67.5627 3.1324 68.1221 2.71288C68.5416 2.57303 68.6814 2.29335 68.6814 2.01367Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M68.262 1.31464C68.9613 1.73416 68.9613 2.29353 68.262 2.71305C67.5628 3.13257 66.4441 3.13257 65.8848 2.71305C65.1856 2.29353 65.1856 1.73416 65.8848 1.31464C66.4441 0.895119 67.5628 0.895119 68.262 1.31464Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M1.5 85.5L1.42875 86.4263C1.24006 88.8793 3.79952 90.6002 6 89.5V89.5L24.2162 78.4744C24.72 78.1695 25.0899 77.6853 25.2517 77.119V77.119C25.645 75.7426 24.7177 74.3397 23.2972 74.1622L22.8795 74.1099C22.3082 74.0385 21.7291 74.152 21.227 74.4336L7.21287 82.2952" stroke="black" stroke-width="1.5"/>
			<path d="M5.9749 41.0137L7.23347 88.0002C7.23347 88.4197 6.95379 88.8392 6.39443 89.1189C5.2757 89.8181 3.45777 89.8181 2.33905 89.1189C1.77968 88.8392 1.5 88.4197 1.5 88.0002L2.47889 41.0137C2.47889 41.2934 2.61873 41.573 3.03825 41.7129C3.73745 42.1324 4.85618 42.1324 5.41554 41.7129C5.83507 41.573 5.9749 41.2934 5.9749 41.0137Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M5.55551 40.3146C6.25471 40.7342 6.25471 41.2935 5.55551 41.713C4.8563 42.1326 3.73757 42.1326 3.17821 41.713C2.47901 41.2935 2.47901 40.7342 3.17821 40.3146C3.73757 39.8951 4.8563 39.8951 5.55551 40.3146Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M18.8989 117.522C18.8989 119.48 19.5981 120.739 20.7169 121.438L31.7643 127.871C30.6455 127.311 29.9463 125.913 29.9463 124.095" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M18.8989 117.522C18.8989 119.48 19.5981 120.739 20.7169 121.438L31.7643 127.871C30.6455 127.311 29.9463 125.913 29.9463 124.095" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M53.5792 47.0424L42.5317 40.6097C44.2098 39.6308 45.7481 39.491 46.8668 40.1902L57.9142 46.6228C56.7955 46.0635 55.2572 46.0635 53.5792 47.0424Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M29.946 124.095L29.8062 67.739L18.7588 61.3063L18.7941 75.5M18.8986 117.522L18.8103 82" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M35.8194 57.2508L24.772 50.8181L42.5317 40.6097L53.5792 47.0424L35.8194 57.2508Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M29.8062 67.739L18.7588 61.3063C18.7588 57.5306 21.4158 52.776 24.7719 50.8182L35.8194 57.2509C32.4632 59.2087 29.8062 63.9633 29.8062 67.739Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M53.5791 47.0424C56.9353 45.0846 59.5922 46.6228 59.5922 50.5384L59.7321 106.894C59.7321 110.67 57.0751 115.424 53.7189 117.382L36.099 127.451C32.7428 129.409 30.0858 127.87 30.0858 123.955L29.8062 67.7388C29.8062 63.9631 32.4631 59.2085 35.8193 57.2507L53.5791 47.0424Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M56.0801 52.5302C56.0801 50.8611 54.969 50.1025 53.5801 51.0129C52.1912 51.9233 51.0801 54.0475 51.0801 55.7166C51.0801 57.3857 52.1912 58.1443 53.5801 57.2339C54.969 56.3235 56.0801 54.1993 56.0801 52.5302Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M48.0801 56.5302C48.0801 54.8611 46.969 54.1025 45.5801 55.0129C44.1912 55.9233 43.0801 58.0475 43.0801 59.7166C43.0801 61.3857 44.1912 62.1443 45.5801 61.2339C46.969 60.3235 48.0801 58.1993 48.0801 56.5302Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M57.0801 73.2992L33.0801 86.6234V74.8102L57.0801 61.6234V73.2992Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M70 49.5V49.5C70 50.7408 69.349 51.8906 68.285 52.529L60 57.5L59.8125 51.5L64 49" stroke="black" stroke-width="1.5"/>
		</symbol>
		<symbol id="controllers" width="133" height="99" viewBox="0 0 133 99" fill="none">
			<path d="M60.2905 76.0413L132 34.5291V56.4827L60.2905 97.5958V76.0413Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M1 64.0668V42.5123L60.2905 76.0415V97.5959L1 64.0668Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M72.7094 1L1 42.5123L60.2905 76.0414L132 34.5291L72.7094 1Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M116.375 54.0878L121.583 50.8946V44.9072L116.375 48.1005V54.0878Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M109.165 58.4784L114.373 55.2852V48.8987L109.165 52.0919V58.4784Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M101.954 62.1383L107.162 59.0604V53.2893L101.954 56.4063V62.1383Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M94.7427 66.5L99.9506 63.3067V57.281L94.7427 60.4271V66.5Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M116.375 62.071L121.583 58.692V53.4867L116.375 56.6799V62.071Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M109.165 66.4616L114.373 63.2684V57.6676L109.165 60.8609V66.4616Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M101.954 70.4531L107.162 67.2598V61.7284L101.954 64.9216V70.4531Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M94.7427 74.8439L99.9506 71.6506V65.9093L94.7427 69.1026V74.8439Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M80.8145 82.7232L82.8175 81.5257V71.2715L80.8145 72.3451V82.7232Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M85.1523 80.1205L87.1554 78.9231V68.6688L85.1523 69.7425V80.1205Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M76.4766 85.1035L78.4796 83.906V73.9271L76.4766 75.1246V85.1035Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M67.8013 90.2558L69.8043 89.0584V79.0795L67.8013 80.2769V90.2558Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M72.1392 87.6532L74.1422 86.4557V76.4768L72.1392 77.6743V87.6532Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M63.0947 92.8063L65.0978 91.6088V81.6299L63.0947 82.8273V92.8063Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/>
			<path d="M126.792 42.5123C127.994 41.714 129.196 42.5123 129.196 43.7097C129.196 45.3064 127.994 46.903 126.792 47.7013C125.59 48.4996 124.388 47.7013 124.388 46.5038C124.388 44.9072 125.59 42.9114 126.792 42.5123Z" fill="#EB016E"/>
			<path d="M126.391 50.8943C127.593 50.096 128.795 50.8943 128.795 52.0918C128.795 53.6884 127.993 55.2851 126.391 56.0834C125.189 56.8817 123.987 56.0834 123.987 54.8859C123.987 53.2893 124.789 51.6927 126.391 50.8943Z" fill="#EB016E"/>
			</symbol>
			<symbol id="antenntas" width="146" height="115" viewBox="0 0 146 115" fill="none">
				<path d="M37.6001 59.2717L78.8001 83.0717L136.6 49.7717L95.3001 25.9717L37.6001 59.2717Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M29.2998 64.0717L78.7998 92.6717V83.0717L37.5998 59.2717L29.2998 64.0717Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M144.7 54.4717L136.6 49.7717L78.7998 83.0717V92.6717L144.7 54.4717Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M49 84.954L78.7998 102.172V92.6717L29.2998 64.0717V73.5717L45 82.6429" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M144.8 63.9717L144.7 54.4717L78.7998 92.6717V102.172L144.8 63.9717Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M17.9001 104.44C18.2127 103.902 18.446 103.337 18.6001 102.772C19.0001 101.372 18.7001 100.372 17.9001 99.7717L17.4001 99.4717C16.8001 99.2717 16.1001 99.2717 15.2001 99.4717C12.7001 100.172 10.1001 102.772 9.40014 105.272C9.10014 106.672 9.30014 107.672 10.0001 108.272L10.7001 108.672C11.0001 108.772 11.4001 108.772 11.9001 108.772C12.2001 108.672 12.5001 108.672 12.8001 108.572C13.7115 108.311 14.6653 107.797 15.5235 107.11" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M51.4004 81.4717L51.5004 81.2717C51.8004 80.8717 52.3004 80.6717 53.0004 80.8717C53.5004 80.9717 54.1004 81.3717 54.5004 81.7717C55.1004 82.2717 55.6004 83.0717 55.8004 83.7717C55.8004 83.8717 55.9004 84.0717 55.9004 84.1717C55.9004 84.3717 55.9004 84.5717 55.8004 84.7717L55.6004 85.0717C55.3004 85.3717 54.8004 85.5717 54.2004 85.3717C53.7012 85.2469 53.1848 84.9491 52.7302 84.5574" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M17.5 99.4717C16.9 99.2717 16.2 99.1717 15.3 99.4717C12.8 100.172 10.1 102.772 9.5 105.272C9.1 106.572 9.4 107.672 10.1 108.272L2.5 103.872L1.8 103.472C1.8 103.472 1.8 103.472 1.7 103.472C1.2 103.072 1 102.472 1 101.772C1 101.372 1 100.972 1.2 100.472C1.9 97.9717 4.5 95.2717 7 94.6717C8.2 94.3717 9.1 94.4717 9.7 94.9717L17.5 99.4717Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M33.8002 114.072C24.6002 114.072 14.5002 106.172 14.0002 105.772C13.3002 105.272 13.2002 104.272 13.7002 103.672C14.2002 102.972 15.2002 102.872 15.8002 103.372C15.9002 103.472 30.9002 115.072 39.0002 109.572C40.2002 108.772 40.9002 107.872 41.0002 107.072C41.3002 105.372 39.5002 103.072 37.7002 100.772C35.1002 97.3717 32.1002 93.5717 34.3002 89.4717C38.6002 81.6717 52.8002 81.5717 53.5002 81.5717C54.3002 81.5717 55.0002 82.2717 55.0002 83.0717C55.0002 83.8717 54.3002 84.5717 53.5002 84.5717C53.4002 84.5717 40.4002 84.6717 37.0002 90.9717C35.8002 93.1717 37.5002 95.5717 40.1002 98.9717C42.2002 101.672 44.4002 104.572 44.0002 107.572C43.7002 109.272 42.6002 110.772 40.7002 112.172C38.6002 113.572 36.2002 114.072 33.8002 114.072Z" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M58.4218 2.91263C53.2718 5.81975 48.3859 10.8411 44.4243 17.0518L46.4051 18.5054C49.8384 13.0876 54.0641 8.72687 58.5539 6.21618C63.0436 3.57334 67.4013 3.04477 70.8347 4.49833L72.6834 0.930499C68.5898 -0.787346 63.5718 -0.126636 58.4218 2.91263Z" fill="#EB016E"/>
				<path d="M58.4223 12.5592C55.121 14.5413 51.8197 17.8448 49.1787 21.9412L51.0274 23.3948C53.1403 20.0913 55.6492 17.4484 58.2903 15.9949C60.9313 14.4092 63.7044 14.1449 65.6852 14.9377L67.5339 11.3699C65.157 10.1806 61.8557 10.577 58.4223 12.5592Z" fill="#EB016E"/>
				<path d="M58.5549 22.2051C56.7061 23.2623 54.9895 24.9801 53.6689 27.2265L55.5177 28.6801C56.31 27.3587 57.4984 26.1694 58.5549 25.6408C59.6113 24.9801 60.7997 24.848 61.5921 25.2444L63.4408 21.6766C62.1203 20.8837 60.2715 21.148 58.5549 22.2051Z" fill="#EB016E"/>
			</symbol>
			<symbol id="medicine" width="50" height="50" viewBox="0 0 50 50" fill="none">
				<path d="M21.25 19H28.75V26.5H36.25V34H28.75V41.5H21.25V34H13.75V26.5H21.25V19Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M43.75 48.25H6.25C3.775 48.25 1.75 46.225 1.75 43.75V16.75C1.75 14.275 3.775 12.25 6.25 12.25H43.75C46.225 12.25 48.25 14.275 48.25 16.75V43.75C48.25 46.225 46.225 48.25 43.75 48.25Z" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M14.5 9.25V7C14.5 4.075 16.825 1.75 19.75 1.75H30.25C33.175 1.75 35.5 4.075 35.5 7V9.25" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
				<path d="M19.75 9.25V7H30.25V9.25" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"/>
			</symbol>
			<symbol id="education" width="62" height="48" viewBox="0 0 62 48" fill="none">
				<path d="M5.5 39.5515C7.15686 39.5515 8.5 38.218 8.5 36.573C8.5 34.928 7.15686 33.5944 5.5 33.5944C3.84315 33.5944 2.5 34.928 2.5 36.573C2.5 38.218 3.84315 39.5515 5.5 39.5515Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M12.9995 35.0839C12.9995 35.0839 17.4995 41.0411 31.1495 41.0411C31.1495 41.0411 44.4995 41.0411 48.9995 35.0839" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M30.9995 32.1048L12.9995 22.274V41.0419C12.9995 41.0419 17.4995 47 31.1495 47C31.1495 47 44.4995 47 48.9995 41.0419V22.274L30.9995 32.1048Z" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M5.50049 33.5944V18.1032" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M31 1L1 15.72L31 32.1048L49 22.2739L61 15.72L31 1Z" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			</symbol>
			<symbol id="events" width="52" height="48" viewBox="0 0 52 48" fill="none">
				<path d="M21.6523 12.75V1H51V38.3865H21.6523V24.5001" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.3043 36.2501V21.2955H25.9999C29.2607 21.2955 31.4346 18.3046 31.4346 15.9546C29.6955 15.9546 11.6521 15.9546 9.69561 15.9546C4.58694 15.9546 1 17.5569 1 22.3637V31.9774C1 34.2206 3.06521 36.2501 5.3478 36.2501" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.3047 22.3637V48" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M11.8696 34.1138V48" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M6.43457 22.3637V48" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M12.4127 12.7501C15.1301 12.7501 17.304 11.041 17.304 8.47732V5.27275C17.304 2.7091 15.1301 1 12.4127 1C9.69537 1 7.52148 2.7091 7.52148 5.27275V8.47732C7.52148 11.041 9.69537 12.7501 12.4127 12.7501Z" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M36.8687 37.3185V46.932" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M29.1509 45.9708L36.8682 38.3865L44.5856 45.9708" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
			</symbol>
			<symbol id="parks" width="50" height="49" viewBox="0 0 50 49" fill="none">
				<path d="M25.6155 24.2306C25.6155 30.1859 20.1063 35.0117 13.3077 35.0117C6.50918 35.0117 1 30.1859 1 24.2306C1 19.8155 7.79856 7.13494 11.3151 2.0011C12.2528 0.6663 14.4213 0.6663 15.359 2.0011C18.8169 7.13494 25.6155 19.8155 25.6155 24.2306Z" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M13.3066 21.6638V47.8463" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M8.03223 16.5298L13.307 21.6637L18.5817 16.5298" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M8.03223 24.2305L13.307 29.3645L18.5817 24.2305" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M49 28.9024C49 33.6769 44.5458 37.5786 39.0952 37.5786C33.6447 37.5786 29.1904 33.6769 29.1904 28.9024C29.1904 25.3601 34.641 15.1437 37.4542 10.9853C38.1575 9.90723 39.9743 9.90723 40.6776 10.9853C43.5494 15.1437 49 25.3087 49 28.9024Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M39.0972 26.7975V47.8463" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M1.00293 47.8464L48.6012 47.8511" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
			</symbol>
			<symbol id="business-centers" width="46" height="56" viewBox="0 0 46 56" fill="none">
				<path d="M33.4209 54.9999H44.9998V23.4042H33.4209" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M31.1055 17.5532H42.6844V23.4043" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M14.8947 12.8724V4.68089L13.7368 3.51068L1 16.383V55H13.7368" stroke="#202E35" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M19.5264 55H33.4211V21.064H12.5791V55H19.5264Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M31.1055 15.2127H14.895V21.0639H31.1055V15.2127Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M26.4737 9.36176H19.5264V15.2128H26.4737V9.36176Z" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.2104 26.9149H28.7894" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.2104 33.9362H28.7894" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.2104 40.9574H28.7894" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M17.2104 47.9786H28.7894" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
				<path d="M22.9995 9.36162V0" stroke="#EB016E" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
			</symbol>	
			<symbol id="restaurants" width="55" height="39" viewBox="0 0 55 39" fill="none">
				<path d="M3.845 31.7321C4.40822 20.1183 14.7314 10.75 27.5236 10.75C40.3181 10.75 50.639 20.1202 51.1592 31.7321H3.845Z" stroke="black" stroke-width="2"/>
				<path d="M31.4357 4.17857C31.4357 5.92237 30.0009 7.35713 28.2049 7.35713C26.4088 7.35713 24.9741 5.92237 24.9741 4.17857C24.9741 2.43476 26.4088 1 28.2049 1C30.0009 1 31.4357 2.43476 31.4357 4.17857Z" stroke="black" stroke-width="2"/>
				<path d="M1 31.6428H54V38H1L1 31.6428Z" stroke="#EB016E" stroke-width="2"/>
			</symbol>
			<symbol id="slider-nav" width="10" height="16" viewBox="0 0 10 16" fill="none">
				<path d="M9 1L2 8L9 15" stroke-width="2"/>
			</symbol>	
			<symbol id="phone" width="14" height="14" viewBox="0 0 14 14" fill="none">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M13.7995 12.1884C13.643 12.6988 13.2952 13.0381 12.8548 13.3006C12.352 13.5993 11.8144 13.8139 11.2421 13.9386C10.8393 14.0241 10.4365 14.0125 10.0308 13.9516C9.57588 13.8835 9.1441 13.737 8.71812 13.5761C8.23853 13.3919 7.75024 13.231 7.28514 13.0091C6.58242 12.68 5.92461 12.2769 5.30592 11.8086C4.10477 10.8965 3.04996 9.83951 2.14729 8.63023C1.48369 7.74286 0.954835 6.78008 0.594055 5.7274C0.449163 5.30111 0.286885 4.87917 0.153585 4.44998C0.0463652 4.10344 0.00869349 3.74385 0 3.41906C0.00144891 2.98697 0.0782414 2.60998 0.204297 2.24024C0.370922 1.7516 0.575219 1.28036 0.886736 0.86422C1.06495 0.627875 1.27215 0.42198 1.54454 0.300183C1.84447 0.166786 2.15598 0.0696386 2.48199 0.0304895C2.67614 0.00729008 2.87175 0.00729021 3.06735 4.03788e-05C3.14414 -0.00140958 3.20645 0.0362892 3.24991 0.0971878C3.37887 0.282783 3.51941 0.462579 3.63098 0.659774C3.96568 1.24991 4.28589 1.84875 4.61624 2.44323C4.68144 2.55923 4.76693 2.66653 4.83793 2.78107C4.90168 2.88257 4.96543 2.98407 5.01904 3.09282C5.12046 3.29581 5.10453 3.49301 4.96543 3.6786C4.78721 3.9164 4.56988 4.11504 4.33805 4.29629C4.06855 4.50653 3.79181 4.71098 3.55564 4.96182C3.49333 5.02562 3.43682 5.09522 3.38321 5.16772C3.29048 5.28951 3.26875 5.42581 3.32526 5.56646C3.38321 5.7071 3.43827 5.8521 3.51507 5.9826C3.75269 6.38279 3.98596 6.78443 4.24387 7.17302C4.9321 8.20684 5.79566 9.07247 6.83018 9.75831C7.25616 10.0425 7.70098 10.2962 8.1429 10.5543C8.25736 10.621 8.39211 10.6529 8.51817 10.6964C8.60365 10.724 8.68334 10.7008 8.76014 10.6558C8.90503 10.5761 9.01949 10.4601 9.12671 10.3368C9.43823 9.9845 9.74395 9.62781 10.0569 9.27837C10.1482 9.17832 10.2583 9.09277 10.3655 9.01013C10.5148 8.89558 10.6828 8.88688 10.8524 8.95938C10.9596 9.00723 11.0697 9.05942 11.1624 9.12757C11.4638 9.34942 11.7956 9.51471 12.1187 9.69596C12.6128 9.97435 13.1069 10.2542 13.5981 10.534C13.6908 10.5877 13.7719 10.6558 13.8603 10.7167C13.9588 10.7863 13.998 10.8806 13.9994 10.9995C14.0081 11.4098 13.9197 11.7999 13.7995 12.1884Z" fill="black"/>
			</symbol>	
	</defs>
</svg>